/**
 * CONTENTS
 *
 * SETTINGS

 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 * Layout...............Layout

**/

/*-------------------*\
  Generic
\*-------------------*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



/*-------------------*\
  Top Nav Style
\*-------------------*/

.global-nav {
	height:60px;
	background-color: white;
	border: 2px solid black;
	border-radius: 8px;
	margin: 50px;
}

/*-------------------*\
  Body Style
\*-------------------*/

body {
	background-color: #e1e1e1;
}

.main-content {

}

.deathstar {
	width: 100%;
	height: auto;
}

/*-------------------*\
  Left Nav Style
\*-------------------*/

.left_nav {
	float: left;
	border: solid black;
	background-color: white;
	border-radius: 8px;
}


.left_nav_menu {
	margin-right: 10px;
}

/*-------------------*\
  Footer Style
\*-------------------*/

footer {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	background-color: white;
	border: 2px solid black;
	border-radius: 8px;


}

.footer_links {
	float: left;
}

.footer-list {
	
}

.link_img {
	width: 100px;
	height: 100px;
	margin: 10px;
	padding: 10px;
}